:root {
  --color-neutral-lightest: #F5F5F5;
  --color-neutral-darkest: #1B1B1B;
  --color-neutral-dark: #2E2E2E;
  --color-neutral-mid: #6A6A6A;
  --color-neutral-light: #D4D4D4;

  --color-primary: #cdd6f4;

  --color-secondary: #1e1e2e;

  --color-accent: #EC4899;
  --color-accent-light: #F472B6;
  --color-accent-dark: #BE185D;

  --font-sans: "Open Sans", sans-serif;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-130: 130%;
  --line-height-150: 150%;
}
